<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="sendTo">Send to:</label>
                <input ng-model="toUser" type="text" id="sendTo" class="form-control" placeholder="Send to username here...">
            </div>
            <div class="form-group">
                <label for="sendTo">Message:</label>
                <textarea ng-model="message" type="text" id="message" class="form-control" placeholder="Message here..."></textarea>
            </div>
            <button id="send" class="btn btn-default" ng-click="sendMessage(toUser, message)">Send</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Messages</th>
                </tr>
                </thead>
                <tbody id="messages" ng-show="messages">
                <tr ng-repeat="msg in messages">
                    <td>{{msg.fromUser}}</td>
                    <td>{{msg.message}}</td>
                    <td ng-show="msg.fromUser != name"><a ng-click="reply(msg.fromUser)">Reply</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>